---
// Libs
import { clsx } from 'clsx'

// Styles
import { titleClasses, getMenuLinksClasses } from '../../../styles/classes'

// Get props
interface Props {
  menuItems: string[]
  title: string
  baseMessage: string
  imageSrc: string
  imageAlt: string
  id: string
}

const { menuItems, title, baseMessage, imageSrc, imageAlt, id } = Astro.props

// Fixed data
const phoneNumber = '5219982391978'
const baseUrl = 'https://api.whatsapp.com/send?phone='
---

<section
  class={clsx(
    'container',
    'team',
    'flex',
    'flex-col md:flex-row',
    'gap-8 md:gap-0',
    'justify-between'
  )}
  id={id}
>
  <div class={clsx('aside', 'w-full md:w-4/12 lg:w-1/4')}>
    <!-- Page title -->
    <h2 class={clsx(titleClasses)}>{title}</h2>

    <!-- Links -->
    <ul>
      {
        menuItems.map((text: string) => {

          // Scape '&' in the text
          const textClean = text.replace(/&/g, '%26')

          return (
            <li>
              <a
                href={`${baseUrl}${phoneNumber}&text=${baseMessage} ${textClean}`}
                target='_blank'
                class={getMenuLinksClasses(false)}
              >
                {text}
              </a>
            </li>
          )
        })
      }
    </ul>
  </div>

  <div class={clsx('content', 'w-full md:w-8/12 lg:w-3/4', 'justify-self-end')}>
    <img
      src={imageSrc}
      alt={imageAlt}
      class={clsx('w-full', 'h-auto')}
      data-aos="zoom-in"
    />
  </div>
</section>
