---
// Libs
import { clsx } from 'clsx'

// Styles
import { titleClasses, getMenuLinksClasses } from '../../../styles/classes'

interface MenuItem {
  text: string
  url: string
}

// Get props
interface Props {
  menuItems: MenuItem[]
  title: string
  imageSrc: string
  imageAlt: string
  id: string
  target: string
}

const { menuItems, title, imageSrc, imageAlt, id, target } = Astro.props
---

<section
  class={clsx(
    'container',
    'team',
    'flex',
    'flex-col md:flex-row',
    'gap-8 md:gap-0',
    'justify-between'
  )}
  id={id}
>
  <div class={clsx('aside', 'w-full md:w-4/12 lg:w-1/4')}>
    <!-- Page title -->
    <h2 class={clsx(titleClasses)}>{title}</h2>

    <!-- Links -->
    <ul>
      {
        menuItems.map((item: MenuItem) => {
          return (
            <li>
              <a
                href={item.url}
                target={target}
                class={getMenuLinksClasses(false)}
              >
                {item.text}
              </a>
            </li>
          )
        })
      }
    </ul>
  </div>

  <div class={clsx('content', 'w-full md:w-8/12 lg:w-3/4', 'justify-self-end')}>
    <img
      src={imageSrc}
      alt={imageAlt}
      class={clsx('w-full', 'h-auto')}
      data-aos="zoom-in"
    />
  </div>
</section>
