---
import InfoCircleCard from "../ui/InfoCircleCard.astro";

//i18n
import { useTranslations } from "../../i18n/utils";

const { lang } = Astro.params as any;
const t = useTranslations(lang);

import clsx from "clsx";

//datos
const infoCircle = [
    {
        title: "Excelencia en el servicio",
        imageAlt: "info de ",
        text: "Inspirados por una trayectoria de más de dos décadas en hospitalidad de lujo, en Cancun Concierge nos comprometemos a anticipar necesidades, cuidar cada detalle y superar expectativas en cada experiencia.",
    },
    {
        title: "Personalización Auténtica",
        imageAlt: "info de ",
        text: "Cada cliente es único. Por eso, diseñamos programas completamente a la medida, asegurándonos de que cada momento esté alineado con los deseos, prioridades y estilo de cada huésped.",
    },
    {
        title: "Pasión por Crear Experiencias Memorables",
        imageAlt: "info de ",
        text: "Nuestra colaboración con startups tecnológicas y proyectos turísticos innovadores nos impulsa a mantenernos a la vanguardia en soluciones personalizadas y experiencias únicas.",
    },
];
---

<section id="infoCircleCard" class={clsx(
    "container", 
    "flex", 
    "flex-col", 
    "gap-10",)}>
    {
        infoCircle.map((circle, index) => (
            <div
                class={clsx(
                    "flex", 
                    "w-full",
                    "mb-2",
                    index % 2 === 0? "justify-center md:justify-start": "justify-center md:justify-end",
                )}
            >
                <InfoCircleCard
                    imageBgSrc={`/infoCircle/${circle.title} bg.webp`}
                    imageTopSrc={`/infoCircle/${circle.title}.webp`}
                    imageAlt={`${circle.imageAlt}${circle.title}`}
                    title={circle.title}
                    text={circle.text}
                    class={clsx(
                        "h-72 w-72",
                        index % 2 === 1
                            ? "md:mr-40 md:scale-120 md:origin-right"
                            : "md:ml-40 md:origin-left",
                    )}
                />
            </div>
        ))
    }
</section>
