---
import {
  MdStar,
  MdPsychology,
  MdAutorenew,
  MdAttachMoney,
  MdEvent,
  MdLocationOn,
  MdHotel,
  MdBusiness,
  MdVerified,
} from 'react-icons/md'

// Components
import FeatureCard from '../ui/FeatureCard.astro'

// Data 
import { whatsappBaseUrl } from '../../data/contact'

// Libs
import { useTranslations } from '../../i18n/utils'

// i18n
const { lang } = Astro.params as any
const t = useTranslations(lang)

// Define the icons mapping
const iconsMapping = {
  personalized: MdStar,
  anticipation: MdPsychology,
  flexibility: MdAutorenew,
  pricing: MdAttachMoney,
  management: MdEvent,
  experience: MdLocationOn,
  luxury: MdHotel,
  boutique: MdBusiness,
  trusted: MdVerified,
}

// Get cards data from translations
const cardKeys = Object.keys(iconsMapping)
const whyWorkWithUsCards = cardKeys.map((key) => ({
  icon: iconsMapping[key as keyof typeof iconsMapping],
  title: t(`whyWorkWithUs.cards.${key}.title`),
  description: t(`whyWorkWithUs.cards.${key}.description`),
  category: t(`whyWorkWithUs.cards.${key}.category`),
  href: whatsappBaseUrl,
}))
---

<section class:list={['container', 'mt-20', 'mb-16']}>
  <div class:list={['text-center', 'mb-16']}>
    <h2
      class:list={['text-4xl', 'font-bold', 'text-blue', 'font-title', 'mb-6']}
    >
      {t('whyWorkWithUs.title')}
    </h2>
    <p
      class:list={[
        'text-gray-600',
        'max-w-3xl',
        'mx-auto',
        'text-lg',
        'leading-relaxed',
      ]}
    >
      {t('whyWorkWithUs.description')}
    </p>
  </div>

  <div class:list={['max-w-7xl', 'mx-auto']}>
    <div
      class:list={[
        'grid',
        'grid-cols-1 md:grid-cols-2 lg:grid-cols-3',
        'gap-8',
        'space-y-8',
      ]}
    >
      {whyWorkWithUsCards.map((data) => (
        <FeatureCard
          icon={data.icon}
          title={data.title}
          description={data.description}
          category={data.category}
          href={data.href}
        />
      ))}
    </div>
  </div>
</section>
