---
// Styles
import '../styles/global.css'

// i18n
import { getLangFromUrl } from '../i18n/utils'
const lang = getLangFromUrl(Astro.url)

// Fonts
import '@fontsource-variable/oswald'
import "@fontsource/roboto"

// Sections
import WhyUs from '../components/sections/WhyUs.astro'
import Footer from '../components/sections/Footer.astro'
import Header from '../components/sections/Header'

// Utils
import SEO from '../components/utils/SEO.astro'

// Components
import AOSInit from '../components/utils/AOSInit'

// Get current page
const currentUrl = Astro.request.url
let currentPage = currentUrl.split('/').pop()
if (currentPage === '' || currentPage === 'en' || currentPage === 'es') {
  currentPage = 'home'
}

// Animations / Transitions
import { ClientRouter } from "astro:transitions";

---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <link
      rel='icon'
      type='image/x-icon'
      href='/favicon.ico'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <SEO
      currentPage={currentPage}
    />
    <ClientRouter />
  </head>
  <body>
    <!-- Start aos -->
    <AOSInit client:load />

    <!-- Header -->
    <Header
      client:load
      lang={lang}
      serverPathname={Astro.url.pathname}
    />

    <!-- Body -->
    <main class='font-sans'>
      <slot />
    </main>

    <!-- Footer -->
    <WhyUs />
    <Footer />
  </body>
</html>