---
interface Props {
  currentPage?: string; // Current page
}
const { currentPage } = Astro.props as Props;

// Libs
import { useTranslations } from '../../i18n/utils'
import { getStaticPathsLangs } from '../../libs/getStaticPaths';

// i18n
export const getStaticPaths = getStaticPathsLangs
const { lang } = Astro.params as any
const t = useTranslations(lang)

// Get page metadata from i18n
const title = 'Cancun Concierge DMC'
const pageName = t(`meta.${currentPage}.page`)
const description = t(`meta.${currentPage}.description`)
const url = 'https://cancunconciergedmc.com/'
const image = '/imgs/logo.webp'
const type = 'website'
const twitterHandle = '@DeveloperDari'
let keywords = t(`meta.${currentPage}.keywords`)
if (typeof keywords === 'string') {
  keywords = keywords.split(',').map((keyword) => keyword.trim());
}

// Split keywords into an array if it's a string
const keywordsContent = Array.isArray(keywords) ? keywords.join(', ') : keywords;
---

<head>
  <title>{pageName} | {title}</title>
  <meta name="description" content={description} />
  {keywordsContent && <meta name="keywords" content={keywordsContent} />}
  <link rel="canonical" href={url} />
  <meta name="author" content="Dari Dev's Team" />

  <meta property="og:type" content={type} />
  <meta property="og:title" content={`${pageName} | ${title}`} />
  <meta property="og:description" content={description} />
  <meta property="og:url" content={url} />
  <meta property="og:image" content={image} />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content={twitterHandle} />
  <meta name="twitter:title" content={`${pageName} | ${title}`} />
  <meta name="twitter:description" content={description} />
  <meta name="twitter:image" content={image} />
</head>