---
interface Props {
  currentPage?: string // Current page
}
const { currentPage } = Astro.props as Props

// Libs
import { useTranslations } from '../../i18n/utils'
import { getStaticPathsLangs } from '../../libs/getStaticPaths'

// i18n
export const getStaticPaths = getStaticPathsLangs
const { lang } = Astro.params as any
const t = useTranslations(lang)

// Get page metadata from i18n
const title = 'Cancun Concierge DMC'
const pageName = t(`meta.${currentPage}.page`)
const description = t(`meta.${currentPage}.description`)
const url = 'https://cancunconciergedmc.com/' // Make sure this is dynamic if needed
const image = '/imgs/logo.webp' // Make sure this is the full URL if needed
const type = 'website'
const twitterHandle = '@DeveloperDari'
let keywords = t(`meta.${currentPage}.keywords`)
if (typeof keywords === 'string') {
  keywords = keywords.split(',').map((keyword) => keyword.trim())
}

// Split keywords into an array if it's a string
const keywordsContent = Array.isArray(keywords) ? keywords.join(', ') : keywords

// Generate data
const jsonLd = {
  '@context': 'https://schema.org',
  '@type': 'LocalBusiness',
  name: title,
  description: description,
  url: 'https://cancunconciergedmc.com/',
  logo: 'https://cancunconciergedmc.com/imgs/logo.webp',
  image: 'https://cancunconciergedmc.com/imgs/services.webp',
  telephone: '+52 998 23 91 978',
  email: 'info@cancunconciergedmc.com',
  priceRange: '$$',
  serviceArea: ['Cancun', 'Riviera Maya'],
  address: {
    '@type': 'PostalAddress',
    addressLocality: 'Cancun',
    addressRegion: 'Quintana Roo',
    addressCountry: 'Mexico',
  },
  sameAs: [
    'https://www.facebook.com/cancunconciergemx',
    'https://www.instagram.com/cancunconcierge/',
    'https://www.google.com.mx/maps/place/Canc%C3%BAn,+Q.R./@21.1214334,-87.1682536,11z/data=!4m6!3m5!1s0x8f4c2b05aef653db:0xce32b73c625fcd8a!8m2!3d21.161908!4d-86.8515279!16zL20vMDFxOTht?entry=tts&g_ep=EgoyMDI1MDUwNS4wIPu8ASoASAFQAw%3D%3D&skid=1ed7bde6-ff37-492f-90a0-2add32d28ada',
  ],
  openingHoursSpecification: [
    {
      '@type': 'OpeningHoursSpecification',
      dayOfWeek: [
        'Monday',
        'Tuesday',
        'Wednesday',
        'Thursday',
        'Friday',
        'Saturday',
        'Sunday',
      ],
      opens: '00:00',
      closes: '23:59',
    },
  ],
  makesOffer: [
    {
      '@type': 'Offer',
      name: 'Airport Transportation',
      description:
        'Reliable and comfortable airport transportation services in Cancun and Riviera Maya.',
      url: 'https://cancunconciergedmc.com/transportation',
    },
    {
      '@type': 'Offer',
      name: 'Tours and Excursions',
      description:
        'Discover the best tours and water activities in Cancun and Riviera Maya.',
      url: 'https://cancunconciergedmc.com/services',
    },
    {
      '@type': 'Offer',
      name: 'Event Planning',
      description:
        'Tailor-made event planning services for corporate groups and special occasions.',
      url: 'https://cancunconciergedmc.com/services',
    },
  ],
}
---

<head>
  <!-- Html tags -->
  <title>{pageName} | {title}</title>
  <meta
    name='description'
    content={description}
  />
  {
    keywordsContent && (
      <meta
        name='keywords'
        content={keywordsContent}
      />
    )
  }
  <link
    rel='canonical'
    href={url}
  />
  <meta
    name='author'
    content="Dari Dev's Team"
  />

  <!-- Open Graph tags -->
  <meta
    property='og:type'
    content={type}
  />
  <meta
    property='og:title'
    content={`${pageName} | ${title}`}
  />
  <meta
    property='og:description'
    content={description}
  />
  <meta
    property='og:url'
    content={url}
  />
  <meta
    property='og:image'
    content={image}
  />

  <!-- Twitter tags -->
  <meta
    name='twitter:card'
    content='summary_large_image'
  />
  <meta
    name='twitter:site'
    content={twitterHandle}
  />
  <meta
    name='twitter:title'
    content={`${pageName} | ${title}`}
  />
  <meta
    name='twitter:description'
    content={description}
  />
  <meta
    name='twitter:image'
    content={image}
  />

  <!-- Json Ld -->
  <script
    type='application/ld+json'
    set:html={JSON.stringify(jsonLd)}
  />

  <!-- Sitemap -->
  <link rel="sitemap" href="/sitemap-index.xml" />
</head>
