---
import clsx from "clsx";

interface Props {
  imageSrc: string;
  imageAlt: string;
  name: string;
  quote: string;
}

const { imageSrc, imageAlt, name, quote } = Astro.props as Props;
const textStyles = "transition-transform duration-300 mt-1 tracking-wide text-center text-5xl"
---

<div class="duration-300 hover:scale-105 w-240">
  <div class="w-240 h-240 overflow-hidden">
    <img
      src={imageSrc}
      alt={imageAlt}
      class={clsx(
        "w-full h-full",
        "object-cover",
        "transition-transform",
        "duration-300",
      )}
    />
  </div>
  <div class="mt-2 p-18 text-center">
    <h3
      class={`${textStyles} font-title`}
    >
      {name}
    </h3>
    <p
      class={textStyles}
    >
      {quote}
    </p>
  </div>
</div>
