---
import clsx from "clsx";

interface Props {
  imageSrc: string;
  imageAlt: string;
  name: string;
  quote: string;
}

const { imageSrc, imageAlt, name, quote } = Astro.props as Props;
const textStyles = "transition-transform duration-300 mt-1 text-center text-xs px-8"
---

<div class="duration-300 hover:scale-105 w-80 mt-7">
  <div class="w-80 h-80 overflow-hidden">
    <img
      src={imageSrc}
      alt={imageAlt}
      class={clsx(
        "w-80 h-80",
        "object-cover",
        "transition-transform",
        "duration-300",
      )}
    />
  </div>
  <div class="mt-2 p-2 text-center">
    <h3
      class={`${textStyles} font-title`}
    >
      {name}
    </h3>
    <p
      class={textStyles}
    >
      {quote}
    </p>
  </div>
</div>
