---
import clsx from "clsx";

interface Props {
  imageSrc: string;
  imageAlt: string;
  name: string;
  quote: string;
  class?: string
}

const { imageSrc, imageAlt, name, quote, class: className = "clase" } = Astro.props as Props;
const textStyles = "transition-transform duration-300 mt-1 text-left text-xs "
---
 
<div class="duration-300 hover:scale-105 w-80 mt-7">
  <div class="w-80 h-80 overflow-hidden">
    <img
      src={imageSrc}
      alt={imageAlt}
      class={clsx(
        "w-80 h-80",
        "object-cover",
        "transition-transform",
        "duration-300",
        className
      )}
    />
  </div>
  <div class="flex flex-col-reverse mt-2 p-2">
    <h3
      class={`${textStyles} font-title` }
    >
      {name}
    </h3>
    <p
      class={textStyles}
    >
      {quote}
    </p>
  </div>
</div>
