---
import clsx from 'clsx'

interface Props {
  imageSrc: string
  imageAlt: string
  name: string
  quote: string
  class?: string
}

const {
  imageSrc,
  imageAlt,
  name,
  quote,
  class: className = '',
} = Astro.props as Props

const textStyles = clsx(
  'transition-transform',
  'duration-300',
  'mt-1',
  'text-left'
)
---

<div
  class={clsx(
    'duration-300',
    'hover:scale-105',
    'max-w-96',
    'w-full',
    'mt-7',
    className
  )}
>
  <div class={clsx('w-full', 'overflow-hidden', 'mx-auto')}>
    <img
      src={imageSrc}
      alt={imageAlt}
      class={clsx(
        'w-80',
        'h-80',
        'object-cover',
        'transition-transform',
        'duration-300',
        'mx-auto'
      )}
    />
  </div>
  <div class={clsx('flex', 'flex-col-reverse', 'mt-2', 'p-2', 'text-justify')}>
    <h3 class={clsx(textStyles, 'font-title', 'font-bold')}>
      {name}
    </h3>
    <p class={textStyles}>
      {quote}
    </p>
  </div>
</div>
